<section class="team-1">
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/faces/IMG_4647.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <p><br></p>
                    <div class="lead">Chris O'Connor | Founder
                      <p>
                      Chris is the founder of Qson Labs and a key member of Elysium Technology Group, a post-trade FinTech SaaS company. Pivotal in building up the core products of Elysium, Chris has developed, deployed, and operated services for trading operations in the forex, futures, and crypto space for over 15 years.
                      </p>
                      <p>
                      As a technoligist at heart and a full stack developer, Chris stays up to date with the latest technologies and builds tools that enable developer productivity. His trading systems background provides the experience necessary to manage large scale systems reliably.
                      </p>
                    </div>
                    <div class="footer text-left">
                      <a href="https://www.linkedin.com/in/cdoconno" target="_blank" class="btn btn-linkedin btn-sm rounded-circle"><i class="fab fa-linkedin"></i></a>
                      <a href="https://github.com/cdoconno/" target="_blank" class="btn btn-github btn-sm rounded-circle"><i class="fab fa-github"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a-->
      </div>
    </div>
</section>