<style>
  <style>
  #Flows #Line_3 {
    stroke-dasharray: 20;    
    animation: dash 5s linear;
}

@keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
}
</style>
<header class="header-1 fullWidth">
    <div class="page-header">
      <!--div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/qson-pipes.svg' | relative_url }}')"></div-->
      <!--Smoketest-->
      <div class="page-header-image">
        <bg-image>
            {% include components/svgs/qson-pipes.html %}  
        </bg-image>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
            <h3 class="display-3">Qson Labs</h3>
            <p class="lead mt-0">Enabling streamlined delivery of secure applications through tooling and process improvement</p>
            <h4 class="lead mt-0">Practical DevOps.</h4>
            <br>
            <div class="buttons">
              <a href="/blog" class="btn btn-primary">
                Read our blog
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include components/features/feature-ql-1.html %}  
</header>

