<div class="cd-section" id="accordion">
    <div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5">Frequently Asked Questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      What is Practical DevOps?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">
                      Depending on who you talk to, you may get a different definition of DevOps. Culture, Automation, Fast Feedback Loops, and Removing Silos are all common concepts you'll hear about when discussing DevOps. From our experience, talking about DevOps is alot easier than living it. <br><br> Qson Labs implements Practical DevOps -- A way that enables teams to take the proper steps, without up-ending existing workflows and forcing an entirely new set of tools on to developers and operators. The reality is every organizaion has a pipeline for delivering value. Practical DevOps with Qson Labs makes that pipeline transparent and frictionless.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How should my team get started with the Developer Tools?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">
                      Qson Labs offers a set of open source tools on GitHub. GitHub has some documentation but if you register with Qson Labs, you can have access to the Developer Portal, which provides more in depth examples and best practices. Qson Labs also offers some SDKs that require licensing. Licensed SDKs provide more robust feature sets and integrations out of the box.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>