<div class="section features-3 my-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/qson-floating-backdrop.svg' | relative_url }}')">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-8">
          <h3 class="display-3 text-white">We Build Value</span></h3>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-6">
          <div class="info info-horizontal bg-white">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-compass-04 text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title text-info">Consulting</h5>
              <p>Often the solution is not as complex as the problem. Qson Labs provides consulting services that enable teams to provide more value to the bottom line.</p>
              <a href="/contact" class="text-info">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info info-horizontal bg-white">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-settings text-info"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title text-info">Developer Tools</h5>
              <p>Tooling enables productivity. Qson Labs provides SDKs and command line tools that manage pipelines integrate developer actions to external systems.</p>
              <a href="/portal" class="text-info">Portal</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
