<div class="section features-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3 text-default">Full Coverage Tooling</span></h3>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-default shadow border-0">
          <!--img src="{{ '/assets/img/-1-1200x1000.jpg' | relative_url }}" class="card-img-top"-->
          <img src="{{ '/assets/img/ill/automation.svg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-4 text-white">Automation</h4>
            <p class="lead text-italic text-white">Automation of pipelines across the entire stack. At Qson Labs we enable the right controls to allow safe automation so that teams can keep building</p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-7 p-sm-0">
        <div class="row">
          <div class="col-md-6">
            <div class="info info-hover-info">
              <div class="icon icon-shape bg-info shadow rounded-circle text-primary">
                <i class="ni ni-button-power text-white"></i>
              </div>
              <h5 class="info-title">Cloud Infrastructure</h5>
              <p class="description opacity-8">Storage<br>Compute<br>Data Management</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-info">
              <div class="icon icon-shape bg-info shadow rounded-circle text-default">
                <i class="ni ni-key-25 text-white"></i>
              </div>
              <h5 class="info-title">Security</h5>
              <p class="description opacity-8">Access<br>Audit Logs<br>Control</p>
            </div>
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col-md-6">
            <div class="info info-hover-info">
              <div class="icon icon-shape bg-info shadow rounded-circle text-primary">
                <i class="ni ni-spaceship text-white"></i>
              </div>
              <h5 class="info-title">Deployment</h5>
              <p class="description opacity-8">Build Pipelines<br>Testing<br>Configuration</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-info">
              <div class="icon icon-shape bg-info shadow rounded-circle text-primary">
                <i class="ni ni-sound-wave text-white"></i>
              </div>
              <h5 class="info-title">Operations</h5>
              <p class="description opacity-8">Visibility<br>Reliability<br>Responsivness</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>